.myname {
    background-color: teal;
}

 .navbar-brand {
     color: white !important;
     padding: 0;
     margin: 0;
 }

.nav-link {
    float: right;
    color: black;
}

body {
    background-image: url("./ignasi_pattern_s.png");
}

